*.pth
*.swp
*.pyc
data/tetwetw/*
data/rgb_img_vgg/*
data/rgb_img_unet_256/*
data/rgb_img_perceptual_3d/*
data/rgb_img_perceptual6/*
data/rgb_img_perceptual5_weight1/*
data/rgb_img_perceptual4_weight/*
data/rgb_img_perceptual3_model/*
data/rgb_img_perceptual3/*
data/rgb_img_perceptual2/*
data/rgb_img_gan_128/*
!data/rgb_img_7_5_transgan/remain_img_pose2_347.jpg
!data/rgb_img_7_5_transgan/remain_img_epoch347.jpg
!data/rgb_img_7_5_transgan/remain_gt_img_epoch347.jpg
data/rgb_img_7_5_transgan/*
data/rgb_img_09_23_transgan/*
data/rgb_img/*
*.obj
*.npz
*.pkl
*.jpg
*.png
*.zip
*.out
*.npy
!backup_history.txt
*.txt

